{% extends "base.html" %}
{% block content %}
    <div style="margin: 50px auto auto;width: 50%;border: 3px solid black;padding: 25px 90px;">
        <h2 style="text-align: center; padding-bottom: 15px">{{ poll_title }}</h2>
        <form method="POST" action="{{ action }}">
            {% for option in poll_options %}
                <input class="btn-check" type="radio" id="option-{{ option.option_id }}" name="poll_option"
                       value="{{ option.value }}"
                       autocomplete="off">
                <label class="btn btn-outline-primary" style="width: 100%; margin-bottom: 10px"
                       for="option-{{ option.option_id }}">
                    {{ option.value }}
                </label>
            {% endfor %}
            <div class="row" style="bottom: 0; position: relative; margin-top: 30px">
                <button type="submit" class="btn btn-success" style="width: 100%">Vote</button>
            </div>
        </form>
    </div>
{% endblock %}