{% extends "base.html" %}
{% block content %}
    <div style="margin: 50px auto auto;width: 50%;border: 3px solid black;padding: 25px 90px;">
        <h2 style="text-align: center;">{{ poll_title }}</h2>
        <form method="POST" action="{{ action }}">
            {% for option in poll_options %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="poll_option" value="GG">
                        {{ option.value }}
                    </label>
                </div>
            {% endfor %}
            <div class="row" style="bottom: 0; position: relative; margin-top: 30px">
                <button type="submit" class="btn btn-primary" style="width: 500px">Vote</button>
            </div>
        </form>
    </div>
{% endblock %}