<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed&amp;family=Montserrat&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <script src="https://kit.fontawesome.com/a67f130521.js" crossorigin="anonymous"></script>

    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #1d347d">
    <a class="navbar-brand" href="/">POLL APP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link {{ 'active' if active_page == 'home' else '' }}" href="/">Home</a>
            <a class="nav-item nav-link {{ 'active' if active_page == 'create' else '' }}" href="{{ url_for('create_page') }}">Create</a>
            <a class="nav-item nav-link {{ 'active' if active_page == 'login' else '' }}" href="{{ url_for('login_page') }}">Login</a>
        </div>
    </div>
</nav>

<div class="container" id="main-container">
    {% block content %}
    {% endblock %}
</div>
<footer class="pt-4 pt-md-5 border-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 text-center">
                      <div class="copyright">
                          <p><i class="fa fa-copyright"></i> Poll App</p>
                      </div>
                  </div>
              </div>
          </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>